@inherits LayoutComponentBase

<main>
    @Body
</main>

<BlazoredToasts
    Position="ToastPosition.BottomRight"
    ShowProgressBar="true"
    IconType="IconType.FontAwesome"
    SuccessIcon="fa fa-thumbs-up"
    SuccessClass="bg-green-600"
    ErrorIcon="fa fa-bug"
    ErrorClass="bg-red-600" />
