@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<GameState> GameState

<div class="relative">
    <Button OnClick="OpenPopover" Icon="envelope-open-text">Invite</Button>

    @if (GameState.Value.InvitePopoverOpen)
    {
        <Backdrop OnClick="ClosePopover" Blur="true" />
        <InvitePopover />
    }
</div>

@code {
    private void ClosePopover()
    {
        Dispatcher.Dispatch(new CloseInvitePopoverAction());
    }

    private void OpenPopover()
    {
        Dispatcher.Dispatch(new OpenInvitePopoverAction());
    }
}
