@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<GameState> GameState

<div class="relative">
    <Button OnClick="OpenPopover" Icon="face-smile-beam" Variant="light">@GameState.Value.Me()!.Nickname</Button>

    @if (GameState.Value.PlayerPopoverOpen)
    {
        <Backdrop OnClick="ClosePopover" Blur="true" />
        <PlayerPopover />
    }
</div>

@code {
    private void ClosePopover()
    {
        Dispatcher.Dispatch(new ClosePlayerPopoverAction());
    }

    private void OpenPopover()
    {
        Dispatcher.Dispatch(new OpenPlayerPopoverAction());
    }
}
