@inherits FluxorComponent
@inject IState<GameState> GameState

<div class="flex justify-center items-center">
    <div class="bg-neutral-200 rounded-lg text-2xl text-gray-800 py-2 px-4 font-semibold shadow-md">
        @if (GameState.Value.Votes.ContainsKey(GameState.Value.PlayerId))
        {
            <text>Wait for the flip...</text>
        }
        else
        {
            <text>Cast your vote...</text>
        }
    </div>
</div>

<div class="flex flex-wrap justify-center mt-4">
    @foreach (var card in GameState.Value.Deck)
    {
        <Card Value="@card" />
    }
</div>
