@inherits FluxorComponent
@inject IState<GameState> GameState

<div class="flex justify-center items-center">
    <div class="bg-neutral-200 rounded-lg text-2xl text-gray-800 py-2 px-10 font-semibold shadow-md flex gap-x-2 items-center transition-all ease-in-out">
        @if (GameState.Value.Voting)
        {
            <span>Casting vote</span>
            <Icon Type="circle-notch" Spin="true" />
        }
        else if (GameState.Value.RecallingVote)
        {
            <span>Recalling vote</span>
            <Icon Type="circle-notch" Spin="true" />
        }
        else if (GameState.Value.Me()!.IsSpectator || GameState.Value.Votes.ContainsKey(GameState.Value.PlayerId))
        {
            <span>Wait for the flip...</span>
        }
        else
        {
            <span>Cast your vote...</span>
        }
    </div>
</div>

<div class="flex flex-wrap gap-4 justify-center mt-4">
    @foreach (var card in GameState.Value.Deck)
    {
        <Card Value="@card" />
    }
</div>
