@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<LobbyState> LobbyState;

<PageTitle>Scrummy - New Game</PageTitle>

<div class="grid place-items-center h-screen">
    <div class="bg-white rounded-lg shadow-xl sm:max-w-lg mx-4">
        <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="mt-3 text-center">
                <h3 class="text-xl leading-6 font-medium text-gray-900">
                    Welcome to Scrummy
                </h3>
                <div class="mt-3">
                    <p class="text-gray-500">
                        To enter the game, choose a nickname.
                    </p>
                </div>
                <div class="mt-3">
                    <input type="text" @bind="nickname" name="nickname" id="nickname" maxlength="50" class="text-2xl bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 block w-full p-2.5" placeholder="Enter your nickname">
                </div>
            </div>
        </div>
        <div class="px-4 py-3 sm:px-6">
            <button type="button" @onclick="Continue" class="w-full flex justify-center items-center space-x-2 bg-orange-600 text-slate-200 text-lg font-bold py-2 px-6 border-b-4 border-orange-800 hover:bg-orange-500 hover:border-orange-700 active:mt-1 active:border-b-0 rounded-lg drop-shadow-md">
                <span>Create Game</span>
                <i class="fa-solid fa-dice text-2xl"></i>
            </button>
        </div>
    </div>
</div>

@code {
    private string nickname = string.Empty;

    protected override Task OnInitializedAsync()
    {
        nickname = LobbyState.Value.Nickname;
        return base.OnInitializedAsync();
    }

    private void Continue()
    {
        if (string.IsNullOrWhiteSpace(nickname))
        {
            return;
        }

        Dispatcher.Dispatch(new CreateGameAction(nickname));
    }
}
