@inherits FluxorComponent
@implements IDisposable
@inject IDispatcher Dispatcher
@inject IState<GameState> GameState

<PageTitle>Scrummy - Playing</PageTitle>

<div>The actual Game</div>
<button @onclick="LeaveGame">Leave Game</button>

<hr>
<GameLog />

@code {
    [Parameter]
    public string GameId { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        Dispatcher.Dispatch(new ConnectToGameAction(GameId));
        await base.OnInitializedAsync();
    }

    private void LeaveGame()
    {
        Dispatcher.Dispatch(new LeaveGameAction(GameId));
    }

    void IDisposable.Dispose()
    {
        Dispatcher.Dispatch(new DisconnectFromGameAction());
    }
}
