@page "/"

<PageTitle>Scrummy</PageTitle>

<div class="flex flex-col items-center px-4 pt-20">
    <h1 class="text-6xl md:text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-indigo-400 to-indigo-300 outline-none">Scrummy</h1>

    <div class="mt-12">
        <a class="flex justify-center items-center space-x-2 bg-orange-600 text-slate-200 text-xl font-bold py-2 px-6 border-b-4 border-orange-800 hover:bg-orange-500 hover:border-orange-700 active:mt-1 active:border-b-0 rounded-lg shadow-md" href="/room/create">
            <span>Create Game</span>
            <i class="fa-solid fa-dice text-2xl"></i>
        </a>
    </div>

    <div class="mt-8 p-8 bg-black/50 text-white rounded-md">
        <h2 class="text-2xl font-bold text-indigo-300">How to play:</h2>
        <ol class="mt-4 list-none">
            <li class="flex space-x-2">
                <span class="font-bold text-indigo-300">1.</span>
                <span>Click on the CREATE GAME button.</span>
            </li>
            <li class="flex space-x-2">
                <span class="font-bold text-indigo-300">2.</span>
                <span>Enter your Nickname and start the game.</span>
            </li>
            <li class="flex space-x-2">
                <span class="font-bold text-indigo-300">3.</span>
                <span>Connect with your team using your favorite audio or video chat.</span>
            </li>
            <li class="flex space-x-2">
                <span class="font-bold text-indigo-300">4.</span>
                <span>Share the game URL with your team.</span>
            </li>
            <li class="flex space-x-2">
                <span class="font-bold text-indigo-300">5.</span>
                <span>Once everyone has voted, flip the cards to reveal the results.</span>
            </li>
        </ol>
    </div>
</div>
