@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Scrummy</PageTitle>

<div class="flex flex-col items-center px-4 pt-20">
    <h1 class="text-6xl md:text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-indigo-400 to-indigo-300 outline-none">Scrummy</h1>

    <div class="mt-12">
        <Button OnClick="CreateGame" Icon="dice" Block="true">Create Game</Button>
    </div>

    <div class="mt-8 p-8 bg-black/50 text-white rounded-md">
        <h2 class="text-2xl font-bold text-indigo-300">How to play:</h2>
        <ol class="mt-4 list-none">
            @for (var i = 0; i < Instructions.Length; i++)
            {
                <li class="flex gap-x-2">
                    <span class="font-bold text-indigo-300">@(i + 1).</span>
                    <span>@Instructions[i]</span>
                </li>
            }
        </ol>
    </div>
</div>

@code {
    private string[] Instructions = new string[] {
        "Click on the CREATE GAME button.",
        "Enter your Nickname and start the game.",
        "Connect with your team using your favorite audio or video chat.",
        "Share the game URL with your team.",
        "Once everyone has voted, flip the cards to reveal the results.",
    };

    private void CreateGame()
    {
        NavigationManager.NavigateTo("/room/create");
    }
}
